@charset "utf-8";
/* CSS Document */
	/*==============================页眉========================================*/
	ul {list-style-type: none;/*清除原有样式*/
		margin-top: -4px;padding: 0;
		overflow: hidden;
		background-color:rgba(196,1,0,1.00);
		width: 1518px;
		margin-left: -8px;
	    }
	li {float: left;
		width: 200px;
		text-align: center;
		}
  
	li a,.dropbtn{display: block;
				  padding:15px;
				  text-decoration: none;
				  color: aliceblue;
				  font-size: 25px;
				  }				
	/*=========下拉导航=============*/			    
	li a:hover, .dropdown:hover .dropbtn { background-color: red;}/*设置点击导航鼠标时的颜色*/
	li .dropdown{display:inline-block;}
	.dropdown-content{display:none;/*定义下拉导航样式*/
					  position:absolute;
					  background-color:#EF3B36;
					  z-index:1;/*设置下拉导航中每个字的上下距离*/
					  width: 200px;
					 }
	.dropdown-content a{color: rgba(2,0,1,0.8);
					    padding: 12px 16px;
						text-decoration: none;/*清除链接原有样式*/
					    display: block;
					    text-align: center;
					   }
	.dropdown-content a:hover {background-color:aliceblue;}/*设置下拉导航鼠标点击时的颜色*/
	.dropdown:hover .dropdown-content {display: block;}/*设置下拉导航显示的每个“块”元素*/
	/*=====================插入十九届物种会中共图片==============================*/
	.up{margin-top: -17px;
		text-align: center;
		margin-left: -12px;
		}
	.up a{text-decoration: none;/*清除链接原有样式*/
		  color: rgba(7,7,7,1.00);
		  font-size: 20px;
		  margin-top: 10px;
          }
	.top{margin-top:50px;}
	.title{color:red;
		  letter-spacing: 5.6px;
	      font-size:36px;
		  margin-top:50px; 
	      margin-left: 100px;
		  }
	/*=====================内容==============================*/	
	/*=========共产党员数量=============*/
	.all{margin: 0; /*外边距*/
      	padding: 0; /*内边距*/
      	box-sizing: border-box; /*设置border为宽高内部*/
	  	width: 1500px;
	  	margin-left: 2px;
		}
	.box{position:relative;/*元素定位为相对定位*/
     	 min-height: 100vh; /*最小高度*/
		 display: flex; /*弹性盒*/
		 justify-content: center; /*弹性盒主轴（X）对其方式*/
		 align-items: center; /*弹性盒交叉轴（Y）对齐方式*/
		 background:rgba(249,239,199,0.5);/*背景颜色*/
		 transition: 0.5s; /*过度时间*/
		 padding: 20px; /*内边距*/
		}	
	.box .wrap{position: relative; /*生成相对定位*/
			   max-width:800px; /*最大宽度*/
			  }
	h3{margin-bottom:9px; /*内下边距*/
	   color: #333; /*字体颜色*/
	  }
	.box .wrap img{max-width: 100%; /*最大宽度*/
				   display: block; /*块元素*/
				  }		
	.wrap a{position: relative; /*相对定位*/
			padding:5px 15px; /*内边距 上下5px 左右20px*/
			display: inline-block;/*行内块元素*/
			margin-top: 5px; /*外上边距*/
			text-decoration: none; /*文本修饰（无下划线）*/
			color: #fff;/*字体颜色*/
			background:rgba(188,44,46,1.00);/*背景颜色*/
		   }
	#popup a{position:fixed;/*相对定位*/
			padding: 5px 15px; /*内边距 上下5px 左右20px*/
			display: inline-block;/*行内块元素*/
			text-decoration: none; /*文本修饰（无下划线）*/
			color: #fff;/*字体颜色*/
			background:rgba(188,44,46,1.00);/*背景颜色*/
			}
	.box #blur .active{filter: blur(20px); /*滤镜：模糊20px*/
					   pointer-events: none; /*阻止元素的点击事件*/
					   user-select: none; /*用户是否可以选择文本*/
					  }
	#popup{position:fixed;/*绝对定位*/
		   top:100px; /*距上部*/
		   left:100px; /*距左部*/
		   transform: translate(-30%,-60%); /*2D转换*/
		   width: 350px; /*宽度*/
		   padding:20px; /*内边距*/
		   box-shadow: 0 5px 30px rgba(0,0,0,0.30); /*元素阴影 X偏移 Y偏移 阴影模糊半径 阴影颜色*/
		   background-color: #fff; /*背景颜色*/
		   visibility: hidden; /*隐藏元素*/
		   opacity: 0; /*不透明度*/
		   transition: 0.8s; /*过渡时间*/
		  }
	#popup p{text-indent: 2em;
			font-size: 18px;
			letter-spacing: 1.25px;
			line-height:1.7;
			}
	#popup.active{top:430px; /*距上部*/
				  visibility: visible; /*显示元素*/
				  opacity: 1; /*不透明度*/
				  transition: 0.5s; /*过渡时间*/
				 }
	/*===========基层组织，党员职业=============*/
	.hung-white{width: 1500px; /*宽度*/
				position: relative; /*相对定位*/
				display: flex; /*盒模型*/
				background:rgba(255,255,255,1.00);
				justify-content: center; /*文档X轴布局*/
				align-items: center; /*文档Y轴布局*/
				}
	.hung-white .card{position: relative; /*相对定位*/
				}	
	.hung-white .card .face1{width: 700px;
					transition: 0.5s; /*过渡时间*/
					}
	.face2{height: 150px;
		   z-index: 10px;
		   width:700px;
		   transition: 0.5s; /*过渡时间*/
		   }
	.hung-white.card .face.face1{position: relative; 
								display: flex; 
								justify-content: center; 
								align-items: center; 
								z-index: 1px; 
								transform: translateY(100px); /*2D转换，Y轴移动*/
								} 
	.hung-white .card:hover .face.face1{background:rgba(217,212,212,1.00); 
										transform: translateY(0); /*此处为card标签悬停时，内容1复位*/
									   }
	.hung-white .card .face.face1 .web{opacity:1; /*透明度*/
									  transition: 0.5s; 
									  }
	.hung-white .card:hover .face.face1 .web{opacity: 1; /*此处为card标签悬停时，更改封面的透明度*/
											}

	.hung-white .card .face.face2{position: relative; 
								background:rgba(255,255,255,1.00); 
								display: flex; 
								justify-content: center; 
								align-items: center; 
								padding:20px; 
								box-sizing: border-box; /*设置盒子模型内布局，此处为元素的内边距盒边框不会影响最终大小*/
								box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8); /*阴影*/
								transform: translateY(0); /*2D转换，Y轴移动*/
								z-index: 1px;opacity: 0;
						     	}
	.hung-white .card:hover .face.face2{transform: translateY(10px);
										opacity: 1; /*此处为card标签悬停时，内容2复位*/
										}
	.hung-white .card .face.face2 p{margin: 0; 
									text-indent: 2em;
									font-size: 18px;
									letter-spacing: 1.35px;
									line-height:1.8;
									}
	.text{text-align: center;
		  font-size: 15px;}
	/*==========党员入党时间==========*/
	.club{width:1500px;
		  margin-top: 30px;
		  background:rgba(249,239,199,0.5); 
		 }
	.picter{margin-left: 400px;}
	.lable{color:rgba(223,200,148,2.00);
		   margin-left: 200px;
		  }
	/*===========党员年龄，发展党员的数量，发展党员的性别、民族、年龄和学历===========*/
	.hung{width: 1500px; /*宽度*/
		  position: relative; /*相对定位*/
		  display: flex; /*盒模型*/
		  background:rgba(249,239,199,0.5);
		  justify-content:center; /*文档X轴布局*/
   	      align-items: center; /*文档Y轴布局*/
		  }
	.hung .card{position: relative; /*相对定位*/
				}	
	.hung .card .face1{width: 700px;
					  transition: 0.5s; /*过渡时间*/
					  }
	.face2{height: 100px;
           z-index: 10px;
		   width:700px;
		   transition: 0.5s; /*过渡时间*/}
	.hung.card .face.face1{ position: relative; 
							display: flex; 
							justify-content: center; 
							align-items: center; 
							z-index: 1px; 
							transform: translateY(100px); /*2D转换，Y轴移动*/
						  } 
	.hung .card:hover .face.face1{background:rgba(249,239,199,0.6); 
							      transform: translateY(0); /*此处为card标签悬停时，内容1复位*/
								 }
	.hung .card .face.face1 .web{opacity:1; /*透明度*/
								transition: 0.5s; 
							    }
	.hung .card:hover .face.face1 .web{opacity: 1;  /*此处为card标签悬停时，更改封面的透明度*/
									  } 			
	.hung .card .face.face2{position: relative; 
							background:rgba(255,255,255,1.00); 
							display: flex; 
							justify-content: center; 
							align-items: center; 
							padding:20px; 
							box-sizing: border-box; /*设置盒子模型内布局，此处为元素的内边距盒边框不会影响最终大小*/
							box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8); /*阴影*/
							transform: translateY(0); /*2D转换，Y轴移动*/
							z-index: 1px;
							opacity: 0;/*透明度*/
						   }
	.hung .card:hover .face.face2{transform: translateY(10px);
								 opacity: 1;/*此处为card标签悬停时，内容2复位*/
								 }
	.hung .card .face.face2 p{margin: 0; 
					          text-indent: 2em;
							  font-size: 18px;
							  letter-spacing: 1.35px;
							  line-height:1.8;
							 }
	.essay{ text-indent: 2em;
			font-size: 18px;
	        letter-spacing: 1.35px;
			line-height:1.8;
		    margin-left: 280px;
		    margin-right: 300px;
		  }
	.lable-yellow{margin-left:-200px;
			color:rgba(223,200,148,2.00);
			 }
	/*==========申请入党情况==========*/
	.number{margin-left:300px;
			margin-top: 30px;
		   }
	/*==========党组织情况==========*/
	.number-yellow{width:1500px;
				   margin-top: 30px;
				   background:rgba(249,239,199,0.5);
				   }
	/*==========延伸阅读==========*/
	.link a{text-decoration: none;
			color:rgba(14,14,14,1.00);
			font-size: 18px;
			letter-spacing: 1.32px;
		    line-height: 2.4;
			}
	.last{margin-left: 200px;}
	/*==========页脚==========*/
	.footer{text-align: center;
			margin-top: 50px;
		   }
	p a{text-decoration: none;/*清除链接原有样式*/
		color: rgba(7,7,7,1.00);
		}
	/*=====================侧边导航==============================*/
	.aside {display: flex;/*绝对位置*/
			flex-direction: column;/*块元素为“列”排列*/
			width: 150px;
			justify-content: center;
			align-items: center;
			position: fixed;
			left: 0;
			bottom: 300px;
			font-size: 20px;
			text-align: center;
			margin-left: 1350px;
			}
	.aside div {height: 40px;
				padding: 5px;
				background-color:rgba(206,19,20,0.9);
				line-height: 45px;
				}
	.tool{width: 150px;
		  margin-left: 8px;
		  text-align:center;
  		 }
	.tool a{text-decoration: none;/*清除链接原有样式*/
			color:aliceblue;
		   }
