@charset "utf-8";
/*=======================HEADER============================*/
		.header img{width: 1515px;margin-left: -5px;}/*图片宽度*/
		ul {list-style-type: none;/*清除原有样式*/
			margin-top: -4px;padding: 0;
			overflow: hidden;
			background-color:rgba(196,1,0,1.00);
			width: 1515px;
			margin-left: -5px;
		   }
	    li {float: left;
			width: 200px;
			text-align: center;
		   }
		li a,.dropbtn  {display: block;
  			  			padding:15px;
  					    text-decoration: none;
					    color: aliceblue;
						font-size: 25px;
            		    }
		li a:hover, .dropdown:hover .dropbtn { background-color: red;}/*设置点击导航鼠标时的颜色*/
		li .dropdown{display:inline-block;}
		.dropdown-content{display:none;/*定义下拉导航样式*/
		  				   position:absolute;
						   background-color:#EF3B36;
						   z-index:1;/*设置下拉导航中每个字的上下距离*/
						   width: 200px;
						 }
		.dropdown-content a{color: rgba(2,0,1,0.8);
		                    padding: 12px 16px;
		 					text-decoration: none;/*清楚链接原有样式*/
		 				    display: block;
						    text-align: center;
							}
		.dropdown-content a:hover {background-color:aliceblue;}/*设置下拉导航鼠标点击时的颜色*/
		.dropdown:hover .dropdown-content {display: block;}/*设置下拉导航显示的每个“块”元素*/
		/*=======================SEARCH============================*/
		#row{margin-left: 1350px;
			margin-top: -65px;}
		input[type="text"]{width:110px;height: 5px;
						   padding: 15px;
						  }
		/*=======================HISTORY============================*/
		.history{margin-top: 50px;}
		.title{color:red;
		   	  letter-spacing: 5.6px;
			  font-size:36px;
			  padding-left: 120px;}
		/*“简史”标题*/
		.essay{padding-top: 45px;
			   padding-left: 240px;
			   padding-right: 240px;
			   letter-spacing: 1.32px;
		       line-height: 2.4;
			   font-weight: bold;
			   font-size:18px;}
		/*“简史”文案*/
		.photo{margin-left:400px;}
		/*=======================PART============================*/
		.subtitle{color:red;
			     letter-spacing: 5.6px;
			     font-size:36px;
			     padding-left: 120px;}
		/*“重要讲话”标题*/
		.box{margin-top:50px;}
		.article{padding-top: 45px; 
			     padding-left: 240px;
				 padding-right: 240px;
				 letter-spacing: 1.32px;
				 line-height: 2.4;
				 font-weight: bold;
				 font-size:18px;
				 background-image: url("../picture/flag.png");
				 background-size: 1300px 850px;
				 background-repeat: no-repeat;
				 background-position: center;}
		/*"重要讲话"内容*/
		.smalltitle{color:red;
					letter-spacing: 5.6px;
					font-size:36px;
					padding-left: 120px;
					margin-top: 80px;
					}
		.graphic{max-width: 1120px;
			     padding-left: 240px;}
			/*=======================FOOTER============================*/
		.footer{text-align: center;
			    margin-top: 100px;}
		.link{text-decoration: none;/*清除链接原有样式*/}

