@charset "utf-8";
ul {list-style-type: none;/*清除原有样式*/
			margin-top: -4px;padding: 0;
			overflow: hidden;
			background-color:rgba(196,1,0,1.00);
			width: 1515px;
			margin-left: -5px;
		   }
	    li {float: left;
			width: 200px;
			text-align: center;
		   }
		li a,.dropbtn  {display: block;
  			  			padding:15px;
  					    text-decoration: none;
					    color: aliceblue;
						font-size: 25px;
            		    }
		li a:hover, .dropdown:hover .dropbtn { background-color: red;}/*设置点击导航鼠标时的颜色*/
		li .dropdown{display:inline-block;}
		.dropdown-content{display:none;/*定义下拉导航样式*/
		  				   position:absolute;
						   background-color:#EF3B36;
						   z-index:1;/*设置下拉导航中每个字的上下距离*/
						   width: 200px;
						 }
		.dropdown-content a{color: rgba(2,0,1,0.8);
		                    padding: 12px 16px;
		 					text-decoration: none;/*清楚链接原有样式*/
		 				    display: block;
						    text-align: center;
							}
		.dropdown-content a:hover {background-color:aliceblue;}/*设置下拉导航鼠标点击时的颜色*/
		.dropdown:hover .dropdown-content {display: block;}/*设置下拉导航显示的每个“块”元素*/
		.summary{text-indent: 2em;
			letter-spacing: 2px;
			line-height: 1.8;
			padding-top: 20px;
			padding-left: 45px;
			padding-right: 45px;
			padding-bottom: 20px;
			font-size:20px;
			}/*开头*/
		.conbox{background-color: #Df7373;
			width: 1000px;
			margin-left: 240px;
			margin-top: 100px;
			}/*开头盒子*/
		.reminder{font-size:18px;
			color:#736F6F;
			text-align: center;
			}/*提示翻转图片*/
		.wrap{width: 100%;
			position: relative;
			top:50%;
			perspective: 1000px;
			}/*翻转图片*/
		.front-side .back-side{max-width: 1000px;
			position: absolute;
			display: flex;
			justify-content: center;
			font-size: 21px;
			border-radius: 0.8;
			overflow: hidden;
			box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.18);
			text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.2)
			}/*翻转正反面位置设置*/
		.front-side{background:#E1D9D9;
  			background-image: background: linear-gradient( to left,#4286f4,#373b44); 
            background: linear-gradient( to left,#4286f4#373b44 ); 
  	    	transform: rotatey(0deg);
			overflow: hidden;
			backface-visibility: hidden;
			position: absolute;
		    }/*翻转图片正面样式设置*/
		.back-side {background: #fffbd5; 
           background: linear-gradient(to left,#b20a2c,#fffbd5); 
		   backface-visibility: hidden;
           background: linear-gradient(to left,#b20a2c,#fffbd5 );
           transform: rotatey(-180deg);
		   overflow: hidden;
		   position: absolute;
		   width: 1000px;
		   height: 610px;
           }/*翻转图片背面样式设置*/
		.card-container{max-width: 1000px;
			padding-left: 240px;
			position: relative;
			transform: translate3d(0,0,0);
			}/*正反面父级盒子设置*/
        .card-container:hover .front-side {
           transform: rotatey(180deg);
           }/*正面翻转角度*/
		.card-container:hover .back-side {
  		   transform: rotatey(0deg);
		   }/*背面翻转角度*/
		.desc{font-size: 24px;
			padding-left: 210px;
			padding-right: 210px;
			line-height: 2;
			letter-spacing: 2.4px;
			}/*背面概括内容样式设置*/
		#countryside{
			letter-spacing: 1.8px;
			font-size: 23px;
			padding-left: 210px;
			padding-right: 210px;
			line-height: 1.7;
			}/*乡村振兴概括内容样式设置*/
		.caption{font-size: 32px;
			text-align: center;
			color: #9970DD;
			}/*点击查看详情样式设置*/
		.image img{max-width: 1000px;
			}/*图片大小设置*/
		.box{
			margin-top: 25px;
			}/*大盒子设置*/
		h1{font-size: 24px;
			text-align: center;
			color: palevioletred;
			padding-top: 75px;
			}/*标题1内容设置*/
		h3{font-size: 24px;
			text-align: center;
			color: palevioletred;
			padding-top: 700px;
			}/*标题2内容设置*/
		h4{font-size: 24px;
			text-align: center;
			color: palevioletred;
			padding-top: 730px;
			}/*标题3内容设置*/
		h5{font-size: 24px;
			text-align: center;
			color: palevioletred;
			padding-top: 700px;
			}/*标题4内容设置*/
		h6{font-size: 24px;
			text-align: center;
			color: palevioletred;
			padding-top: 680px;
			}/*标题5内容设置*/
		#firstfront{top:0;}
		#firstback{top: 0}
		#secondfront{top:5px;}
		#secondback{top:5px;}
		#thirdfront{top:10px;}
		#thirdback{top:10px;}
		#fourthfront{top:8px;}
		#fourthback{top:8px;}
		#fifthfront{top: 0;}
		#fifththback{top: 0;}/*翻转正反面位置*/
		.footer{text-align: center;
			    margin-top: 820px;
			   }/*页脚设置*/
		p a{text-decoration: none;/*清除链接原有样式*/
			    color: rgba(7,7,7,1.00);}
		.link a{text-decoration: none;/*清除链接原有样式*/
			    color: rgba(7,7,7,1.00);}