@charset "utf-8";
/* CSS Document */
			ul {list-style-type: none;/*清除原有样式*/
			margin-top: -4px;padding: 0;
			overflow: hidden;
			background-color:rgba(196,1,0,1.00);
			width: 1515px;
			margin-left: -5px;
		   }
			li {float: left;
				width: 200px;
				text-align: center;
			   }
			li a,.dropbtn  {display: block;
							padding:15px;
							text-decoration: none;
							color: aliceblue;
							font-size: 25px;
							}
			li a:hover, .dropdown:hover .dropbtn { background-color: red;}/*设置点击导航鼠标时的颜色*/
			li .dropdown{display:inline-block;}
			.dropdown-content{display:none;/*定义下拉导航样式*/
							   position:absolute;
							   background-color:#EF3B36;
							   z-index:1;/*设置下拉导航中每个字的上下距离*/
							   width: 200px;
							 }
			.dropdown-content a{color: rgba(2,0,1,0.8);
								padding: 12px 16px;
								text-decoration: none;/*清楚链接原有样式*/
								display: block;
								text-align: center;
								}
			.dropdown-content a:hover {background-color:aliceblue;}/*设置下拉导航鼠标点击时的颜色*/
			.dropdown:hover .dropdown-content {display: block;}/*设置下拉导航显示的每个“块”元素*/

		    iframe{border:0px; padding-left: 400px}/*设置图片左内边距*/
			.substance{background-image: url("../img/bcak.jpg");background-size:cover; }
			.circle{padding-top: 100px;color: white;}/*设置第一部分文字上外边距 字体颜色*/
			.main{font-size:18px;padding:0 330px;text-indent: 2em;letter-spacing: 2px;line-height: 1.7}/*设置第一段文字左内边距*/
			.article{width: 650px;font-size: 18px;text-indent: 2em;letter-spacing: 2.7px;line-height: 1.6;text-align:justify;}/*设置第二段文本宽度 字体大小 首行缩进 字间距 行高 */
			.section{width: 650px;font-size: 18px;text-indent: 2em;text-align:justify;letter-spacing: 2.7px;line-height: 1.6;}/*设置第三四段段文本宽度 字体大小 首行缩进 字间距 行高 */
			.summary img{padding-left: 400px;width: 700px;height: 555px;}/*设置第一部分图片左内边距*/
			.branch img{padding-left: 520px;}/*设置第二部分图片左内边距*/
			.scale img{padding-left: 520px;}/*设置第三部分图片左内边距*/
			.branch{padding-top: 45px;}/*设置第二部分左内边距*/
			.scale{padding-top: 45px;}/*设置第三部分左内边距*/
			
			.flag{float: right; max-width: 380px;padding-top: 0;}/*设置插入旗帜做内边距宽度*/
			.box{background-color: #edf2f4;width: 720px;margin-left: 345px;padding-left: 75px;padding-top: 20px;padding-bottom: 20px;}/*设置文本框背景颜色 宽度 内边距*/
			.footer{text-align: center;
			    margin-top: 100px;
			   }/*设置页眉居中 上外边距*/
			p a{text-decoration: none;/*清除链接原有样式*/
			    color: rgba(7,7,7,1.00);}
			.link a{text-decoration: none;/*清除链接原有样式*/
			    color: rgba(7,7,7,1.00);}

