@charset "utf-8";
/* CSS Document */
	ul {list-style-type: none;/*清除原有样式*/
			margin-top: -4px;padding: 0;
			overflow: hidden;
			background-color:rgba(196,1,0,1.00);
			width: 1524px;
			margin-left: -5px;
		   }
			li {float: left;
				width: 200px;
				text-align: center;
			   }
			li a,.dropbtn  {display: block;
							padding:15px;
							text-decoration: none;
							color: aliceblue;
							font-size: 25px;
							}
			li a:hover, .dropdown:hover .dropbtn { background-color: red;}/*设置点击导航鼠标时的颜色*/
			li .dropdown{display:inline-block;}
			.dropdown-content{display:none;/*定义下拉导航样式*/
							   position:absolute;
							   background-color:#EF3B36;
							   z-index:1;/*设置下拉导航中每个字的上下距离*/
							   width: 200px;
							 }
			.dropdown-content a{color: rgba(2,0,1,0.8);
								padding: 12px 16px;
								text-decoration: none;/*清楚链接原有样式*/
								display: block;
								text-align: center;
								}
			.dropdown-content a:hover {background-color:aliceblue;}/*设置下拉导航鼠标点击时的颜色*/
			.dropdown:hover .dropdown-content {display: block;}/*设置下拉导航显示的每个“块”元素*/

			* {
				margin : 0;
				padding: 0;
				background-color: #b21f1f;
			}
			.frame{
			/*	width           : 1515px;
				height          : 100vh;*/
				height: 900px;
				background-color:#b21f1f ;
				display         : flex;
				justify-content : center;
				align-items     : center;
			}
			.channel {
				position   : absolute;
				width      : 80%;
				text-align: center;
				top        : 50%;
				left       : 50%;
				transform  : translate(-50%, -250px);
				font-size  : 30px;
				font-weight: bold;
				color      : #fff;
			}
			.box {
				position              : relative;
				width                 : 900px;
				height                : 550px;
				overflow           : hidden;
				z-index               : 0;
				box-shadow            :0 0 0 10px #fff,
					5px 5px 0 10px rgba(0, 0, 0, 0.1);
			}
			.box::after {
				position        : absolute;
				content         : '';
				width           : 100%;
				height          : 1px;
				background-color: rgba(255, 255, 255, .35);
				bottom          : 25px;
				z-index         : 8888;
			}
			/* 元素box相同大小 */
			.box .item {
				position: absolute;
				width   : 600px;
				height  : 550px;
				top     : 0;
				left    : 0;

			}
			/* 让单选框离开显示区域 */
			input[type=radio] {
				transform : translateY(-100px);
			}
			label {
				position              : absolute;/*圆圈的大小形状*/
				width                 : 20px;
				height                : 20px;
				background-color      : rgba(255, 255, 255, .35);
				/* 鼠标 */
				cursor                : pointer;
				bottom                : 15px;
				border-radius         : 50%;
				left                  : calc((var(--i) - 1) * 168px + 20px);/*圆圈间距*/
				z-index               : 9999;
				transition            : all 0.5s;
			}
			label:hover {
				background-color: rgba(255, 255, 255, .6);
			}
			input[type=radio]:checked+label {
				background-color: #fff;
				box-shadow      : 0 0 0 6px rgba(255, 255, 255, .5);
			}
			.img {
				position           : absolute;
				width              : 900px;
				height             : 550px;
				top                : 0;
				left               : 0;
				overflow: hidden;
			}
			.img img {
				position  : absolute;
				transform : translateX(900px);/*图片间距*/
				/* z-index在动画中变化挺特殊这里直接用0s */
				transition: all .15s, z-index 0s;
			}
			input[type=radio]:checked~.img img {
				transform: translateX(0px);
				z-index  : 777;
			}
			.img .right {
				position           : absolute;
				width              : 600px;
				height             : 1600px;
				z-index            : 778;
				right              : 0;
				background-image   : radial-gradient(rgba(255, 255, 255, .6), transparent);
				background-size    : 600px 600px;
				background-repeat  : no-repeat;
				background-position: -1px -1px;
				transform          : translateX(600px);/*白底的大小*/
				/* 这里时间比img要长一些 */
				transition         : all 0.35s;
				font-size: 40px;
				color: #FFFFFF;
				text-align: center;
				line-height: 80px;
			}
			.img .p{
				position           : absolute;
				width              : 600px;
				height             : 1600px;
				z-index            : 778;
				right              : 0;
				background-image   : radial-gradient(rgba(255, 255, 255, .6), transparent);
				background-size    : 600px 600px;
				background-repeat  : no-repeat;
				background-position: -1px -1px;
				transform          : translateX(600px);/*白底的大小*/
				/* 这里时间比img要长一些 */
				transition         : all 0.35s;

				font-size  : 20px;
				color      : #FFFFFF;
				text-align : left;
				line-height: 60px;
				text-indent: 2em;
				margin-top : 80px;
			}
			input[type=radio]:checked~.img .p {
				transform    : translateX(0px);
			}
			input[type=radio]:checked~.img .right {
				transform    : translateX(0px);
			}/*框架*/
			
			.title{
				font-size  : 30px;
				font-weight: bold;
				color      : #fff;
				text-align : center;
			}/*标题*/
			.name{color    : #fff;
				font-weight: bold;
				font-size  : 20px;
				margin-left: 290px;
			}/*人名的设置*/
			.role{
				margin:80px 100px 10px 180px;
			}/*图片的页边距*/
			.footer{
				text-align: center;
			    margin-top: 100px;
			}
			p a{text-decoration: none;/*清除链接原有样式*/
			    color: rgba(7,7,7,1.00);}
			.link a{text-decoration: none;/*清除链接原有样式*/
			    color: rgba(7,7,7,1.00);}
